<%= form_for @picture do |f| %>
	<p>
    	<%= f.label :title %><br>
    	<%= f.text_field :title %>
	</p>
	<p>
    	<%= f.label :picture %><br>
   	 	<%= f.file_field :picture %>
  	</p>
  	<p>
    	<%= f.submit %>
	</p>
<% end %>