<%= link_to 'Home', root_url %>
<h1>Edit a cat in the database</h1>
<%= render 'form' %>

<%= link_to 'View', cat_path(@cat) %>
<br>

<% @pictures.each do |p| %>
	<%= link_to image_tag("t"+p.filename), picture_path(p), method: :delete, data: { confirm: 'Are you sure you want to delete ' + p.filename + '?' }%>
<% end %>

<%= form_for @picture do |f| %>
	<p>
    	<%= f.hidden_field :title, :value => @cat.id %>
   	 	<%= f.file_field :picture %>
  	</p>
  	<p>
    	<%= f.submit("Add a picture") %>
	</p>
<% end %>