<%= link_to 'Home', root_url %>
<h1>Viewing <%= @cat.name %></h1>
<style>
.cat { background-color: <%= @cat.color %>; }
</style>
<div class='cat'>
<%= @cat.name %> <br>
<%= @cat.race %> <br>
<%= @cat.gender %> <br>
</div>

<% @pictures.each do |p| %>
	<%= image_tag(p.filename, height: "300") %>
<% end %>

<br
><%= link_to 'Edit', edit_cat_path(@cat) %>